In [2]:
from tortus import Tortus
import pandas as pd
import os

Image(value=b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00#0\x00\x00\x06\xc4\x08\x06\x00\x00\x00\xa5\xaf~d\x00\‚Ä¶

HTML(value="<h2 style='text-align:center'>        easy text annotation in a Jupyter Notebook</h2>")

In [21]:
def annotate_tweets(path, text_column = "cleaned_content", num_records=100, prev_annotations = None, additional_labels = []):
    df = pd.read_csv(path)
    df[text_column] = "Raw: " + df["rawContent"] + "\nClean: " + df[text_column]
    output_path = f"{os.path.splitext(path)[0]}_annotations.csv"
    if os.path.exists(output_path):
        print(f"Annotations already exist for: {output_path}, adding to these annotations")
        prev_annotations = pd.read_csv(output_path, index_col = "Unnamed: 0")
    tortus = Tortus(df, text_column, num_records=num_records, annotations=prev_annotations, labels=["standard_english", "not_standard_english", "not_english", "code-switched"] + additional_labels)
    tortus.annotate()
    return tortus, output_path

def save_annotations(tortus, output_path):
    tortus.annotations.to_csv(output_path)

In [22]:
tortus, output_path = annotate_tweets("data/Singapore/GenerateMostRecentTweets/3000_most_recent_tweets/0.5_to_0.6_english_words.csv", num_records = 10)

Annotations already exist for: data/Singapore/GenerateMostRecentTweets/3000_most_recent_tweets/0.5_to_0.6_english_words_annotations.csv, adding to these annotations

HBox(children=(Image(value=b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00#0\x00\x00\x06\xc4\x08\x06\x00\x00\x00‚Ä¶

HTML(value='Click on the label corresponding with the text below. Each selection requires                 conf‚Ä¶

HTML(value='<h4>Raw: Hello singapore https://t.co/VpER6DV6Rm\nClean: hello singapore</h4>')

GridBox(children=(VBox(children=(Box(children=(Button(description='standard_english', layout=Layout(border_bot‚Ä¶

Output()

In [20]:
save_annotations(tortus, output_path)
tortus.annotations

,id_column,cleaned_content,label,annotated_at
0,30,Raw: @iz2709 Ni lawa\nClean: ni lawa,not_english,2022-10-04 16:01:47
1,32,"Raw: @SuperRoStar Mira, mira... Te lo dedico a...",not_english,2022-10-04 16:01:53
2,121,Raw: WTS SEVENTEEN MINGYU DOLL \nPrice 150k\nD...,not_standard_english,2022-10-04 16:02:04
3,134,Raw: @editor_abdulbr0 @foundation Thanks bro ü§ç...,not_standard_english,2022-10-04 16:02:07
4,183,Raw: Joffrey Targaryen? Dang dat boy be ded ne...,not_standard_english,2022-10-04 16:02:12
5,138,Raw: @acidjunk No wayyyyy....ü§Øü§Øü§Ø\nClean: no wa...,not_standard_english,2022-10-04 16:02:15
6,49,"Raw: @ItsPriddyUgly Ngwaneso, o shape Dayi man...",not_english,2022-10-04 16:02:21
7,181,Raw: @eqbaliv_ @ulat_bulu_bulu me rn üò°\nClean:...,not_standard_english,2022-10-04 16:02:23
8,26,Raw: @Jairam_Ramesh Why #INCIndia still talkin...,not_standard_english,2022-10-04 16:02:28
9,18,Raw: Bodoamat dah .\nClean: bodoamat dah,not_english,2022-10-04 16:02:33

In [76]:
tortus.annotations

,Unnamed: 0,cleaned_content,label,annotated_at
id_column,,,,
68,0,alles autos credit ad 2 colour copyrighted amp...,standard_english,2022-10-03 17:02:22
1,1,paling best texture dia cair macam toner tapi ...,not_english,2022-10-03 17:02:25
26,2,tak gak amik yang kiwi passionfruit guava tu s...,not_english,2022-10-03 17:02:26
13,40,poling jebakan yang paling gak pantas katanya,not_english,2022-10-03 17:03:08
61,4,hmm nike tak nk supply boot kat aliksan dgn sp...,not_english,2022-10-03 17:02:30
48,5,arghh nak nangis nak top 5 dapat top 4 jomm ki...,not_english,2022-10-03 17:02:32
29,6,sb se pehly tmhain doob k mar jana chaiye bc,not_english,2022-10-03 17:02:34
36,7,hyderabadi humour uno cycle chalate chalate pa...,not_english,2022-10-03 17:02:36
60,8,dipimpin nagita slavina inilah profil es teh i...,not_english,2022-10-03 17:02:38
46,9,apa yg salah ku pun tak tau,not_english,2022-10-03 17:02:40
10,23,imagine tempat dia tu sebenarnya boleh je bagi...,not_english,2022-10-03 17:02:49
11,62,soalan serius possible tak kalau swap rumah dl...,not_english,2022-10-03 17:02:51
12,20,kalau bukan lagi lah smh hahahahaha it better ...,not_english,2022-10-03 17:02:53