In [1]:
from tortus import Tortus
import pandas as pd
import os

HTML(value="<h1 style='text-align:center'>t &nbsp; <span style=        'color:#36a849'>o</span> &nbsp; r &nbsp…

HTML(value="<h3 style='text-align:center'>        easy text annotation in a Jupyter Notebook</h3>")

In [2]:
def annotate_tweets(path, text_column = "cleaned_content", num_records=100, prev_annotations = None, additional_labels = [], tweets_longer_than_num = 10):
    df = pd.read_csv(path, index_col = "id")
    # filter for cleaned tweet greater than length 10
    df = df[df[text_column].str.count(' ').gt(tweets_longer_than_num-1)]
    df["annotate_text"] = "<b>Raw:</b> " + df["rawContent"] + "<br><b>Clean</b>: " + df[text_column]
    
    temp_path_list = os.path.dirname(path).split('/')
    temp_path_list[0] = 'first_annotation'
    outdirs = '/'.join(temp_path_list)
    basename = os.path.basename(path)
    os.makedirs(outdirs, exist_ok = True)
    output_path = os.path.join(outdirs, basename)
    
    if os.path.exists(output_path):
        print(f"Annotations already exist for: {output_path}, adding to these annotations")
        prev_annotations = pd.read_csv(output_path, index_col = "Unnamed: 0")
        
    tortus = Tortus(df, "annotate_text", num_records=num_records, annotations=prev_annotations, labels=["full_standard_english", "not-syntactic_standard_english", "non_standard_english", "code-switched", "some_english", "not_english"] + additional_labels)
    tortus.annotate()
    return tortus, output_path

def save_annotations(tortus, output_path):
    tortus.annotations.to_csv(output_path)

In [3]:
original_path = "data/Singapore/tweets_over_period/24400_tweets_over_period/0.7_to_0.8_english_words.csv"
tortus, output_path = annotate_tweets(original_path, num_records = 100, tweets_longer_than_num = 6)

HBox(children=(HTML(value='<h1>t &nbsp; <span style="color:#36a849">o</span>             &nbsp; r &nbsp; t &nb…

Output()

In [4]:
save_annotations(tortus, output_path)
tortus.annotations

,id_column,annotate_text,label,annotated_at
0,18044,<b>Raw:</b> John\nPallelai bedokwalk no49.miss...,NaN,2022-11-18 13:20:53
1,14211,<b>Raw:</b> 没事不要换passport！Long Q like vaccinat...,non_standard_english,2022-11-18 13:21:09
2,18549,<b>Raw:</b> John\nPallelai bedokwalk no 49.mis...,NaN,2022-11-18 13:21:12
3,17947,<b>Raw:</b> John\nPallelai bedokwalk bo49 miss...,NaN,2022-11-18 13:21:15
4,21112,"<b>Raw:</b> Lepas 4 hr vacay, rasa janggal ye ...",not_english,2022-11-18 13:21:18
...,...,...,...,...
295,5947,<b>Raw:</b> I'm at Oasis Primary School in Dam...,None,2022-12-10 15:35:07
296,12356,<b>Raw:</b> Just posted a photo @ Bukit Gombak...,None,2022-12-10 15:35:09
297,7429,<b>Raw:</b> I'm at Oasis Primary School in Dam...,None,2022-12-10 15:35:57
298,1869,<b>Raw:</b> This our boys legacy!\n\nBAZINGA O...,None,2022-12-10 15:36:10
299,10309,<b>Raw:</b> Good morning sa lahat. Except sa m...,code-switched,2022-12-10 15:36:16