In [2]:
from tortus import Tortus
import pandas as pd
import os

Image(value=b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00#0\x00\x00\x06\xc4\x08\x06\x00\x00\x00\xa5\xaf~d\x00\…

HTML(value="<h2 style='text-align:center'>        easy text annotation in a Jupyter Notebook</h2>")

In [3]:
def annotate_tweets(path, text_column = "cleaned_content", num_records=100, prev_annotations = None, additional_labels = [], tweets_longer_than_num = 10):
    df = pd.read_csv(path, index_col = "id")
    # filter for cleaned tweet greater than length 10
    df = df[df[text_column].str.count(' ').gt(tweets_longer_than_num-1)]
    df["annotate_text"] = "<b>Raw:</b> " + df["rawContent"] + "<br><b>Clean</b>: " + df[text_column]
    
    temp_path_list = os.path.dirname(path).split('/')
    temp_path_list[0] = 'first_annotation'
    outdirs = '/'.join(temp_path_list)
    basename = os.path.basename(path)
    os.makedirs(outdirs, exist_ok = True)
    output_path = os.path.join(outdirs, basename)
    
    if os.path.exists(output_path):
        print(f"Annotations already exist for: {output_path}, adding to these annotations")
        prev_annotations = pd.read_csv(output_path, index_col = "Unnamed: 0")
        
    tortus = Tortus(df, "annotate_text", num_records=num_records, annotations=prev_annotations, labels=["full_standard_english", "not-syntactic_standard_english", "non_standard_english", "code-switched", "some_english", "not_english"] + additional_labels)
    tortus.annotate()
    return tortus, output_path

def save_annotations(tortus, output_path):
    tortus.annotations.to_csv(output_path)

In [6]:
original_path = "data/Singapore/tweets_over_period/24400_tweets_over_period/0.9_to_1.0_english_words.csv"
tortus, output_path = annotate_tweets(original_path, num_records = 100, tweets_longer_than_num = 6)

HBox(children=(Image(value=b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00#0\x00\x00\x06\xc4\x08\x06\x00\x00\x00…

Output()

In [7]:
save_annotations(tortus, output_path)
tortus.annotations

,id_column,annotate_text,label,annotated_at
0,10881,<b>Raw:</b> @geobragged It’s more the ~2mn sub...,non_standard_english,2022-12-10 00:59:08
1,23345,<b>Raw:</b> @yackzilon Great thread! I wonder ...,not-syntactic_standard_english,2022-12-10 00:59:23
2,18572,<b>Raw:</b> John\nPallelai bedokwalk no49.miss...,NaN,2022-12-10 00:59:28
3,14280,<b>Raw:</b> @KotskiYT @JayMBurton Honestly the...,non_standard_english,2022-12-10 00:59:39
4,4835,<b>Raw:</b> It’s true that our bodies were not...,not-syntactic_standard_english,2022-12-10 00:59:52
...,...,...,...,...
195,4922,<b>Raw:</b> Yesterday’s little #storm knocked ...,full_standard_english,2022-12-10 03:15:18
196,20175,"<b>Raw:</b> so right now, the plan is to imple...",not-syntactic_standard_english,2022-12-10 03:15:30
197,13116,<b>Raw:</b> @WhiskyNovember @MagnaLeptus @MrsL...,non_standard_english,2022-12-10 03:15:35
198,16205,<b>Raw:</b> The buffet had a combination of di...,non_standard_english,2022-12-10 03:15:51
199,18073,<b>Raw:</b> And it’s clear that people with me...,full_standard_english,2022-12-10 03:16:03