In [42]:
from tortus import Tortus
import pandas as pd
import os

In [43]:
def annotate_tweets(path, text_column = "cleaned_content", num_records=100, prev_annotations = None, additional_labels = []):
    df = pd.read_csv(path, index_col = "id")
    df["annotate_text"] = "<b>Raw:</b> " + df["rawContent"] + "<br><b>Clean</b>: " + df[text_column]
    
    temp_path_list = os.path.dirname(path).split('/')
    temp_path_list[0] = 'first_annotation'
    outdirs = '/'.join(temp_path_list)
    basename = os.path.basename(path)
    os.makedirs(outdirs, exist_ok = True)
    output_path = os.path.join(outdirs, basename)
    
    if os.path.exists(output_path):
        print(f"Annotations already exist for: {output_path}, adding to these annotations")
        prev_annotations = pd.read_csv(output_path, index_col = "Unnamed: 0")
        
    tortus = Tortus(df, "annotate_text", num_records=num_records, annotations=prev_annotations, labels=["full_standard_english", "not-syntactic_standard_english", "non_standard_english", "code-switched", "some_english", "not_english"] + additional_labels)
    tortus.annotate()
    return tortus, output_path

def save_annotations(tortus, output_path):
    tortus.annotations.to_csv(output_path)

In [44]:
original_path = "data/Singapore/tweets_over_period/24400_tweets_over_period/0.7_to_0.8_english_words.csv"
tortus, output_path = annotate_tweets(original_path, num_records = 3)

HBox(children=(Image(value=b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00#0\x00\x00\x06\xc4\x08\x06\x00\x00\x00â€¦

Output()

In [45]:
save_annotations(tortus, output_path)
tortus.annotations

,id_column,annotate_text,label,annotated_at
0,22605,<b>Raw:</b> @9NewsSyd @cokeefe9 Ooooh another ...,full_standard_english,2022-11-17 15:07:11
1,9954,<b>Raw:</b> I'm at Oasis Primary School in Dam...,full_standard_english,2022-11-17 15:07:13
2,2576,<b>Raw:</b> @YouTube @marionskitchen 's XO sau...,full_standard_english,2022-11-17 15:07:14