In [25]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('first_annotation/Singapore/tweets_over_period/24400_tweets_over_period/0.8_to_0.9_english_words.csv', index_col = 'Unnamed: 0')

ModuleNotFoundError: No module named 'seaborn'

In [20]:
encoding = {'full_standard_english': 6, 'not-syntactic_standard_english': 5, 'non_standard_english': 4, 'code-switched': 3, 'some_english': 2, 'not_english': 1}
df['encoded'] = df['label'].map(encoding)
df

,id_column,annotate_text,label,annotated_at,encoded
0,6948,<b>Raw:</b> Have time that I just work for the...,code-switched,2022-11-18 12:28:22,3.0
1,14215,<b>Raw:</b> Good MEWning to this person who ma...,non_standard_english,2022-11-18 12:28:27,4.0
2,21662,<b>Raw:</b> StarMagicBeyondTheStars happening ...,full_standard_english,2022-11-18 12:28:35,6.0
3,6760,"<b>Raw:</b> Please go vot for L,he currently r...",non_standard_english,2022-11-18 12:28:41,4.0
4,23932,<b>Raw:</b> John\nPallelai bedokwalk no 49.mi...,not-syntactic_standard_english,2022-11-18 12:29:01,5.0
...,...,...,...,...,...
295,18903,<b>Raw:</b> John\nPallelai bedokwalk no49.miss...,NaN,2022-11-18 13:57:18,NaN
296,20710,<b>Raw:</b> John\nPallelai bedokwalk no49.miss...,NaN,2022-11-18 13:57:21,NaN
297,14738,<b>Raw:</b> John\nPallelai bedokwalk no 49.mis...,NaN,2022-11-18 13:57:23,NaN
298,21858,<b>Raw:</b> John\nPallelai bedojwalk no49.miss...,NaN,2022-11-18 13:57:25,NaN
299,23532,"<b>Raw:</b> forget jetlag, my body is not read...",non_standard_english,2022-11-18 13:59:56,4.0

In [24]:
sns.countplot(x=df['encoded'])

NameError: name 'sns' is not defined