In [74]:
import pandas as pd
import os
import glob
import pickle
import numpy as np

In [119]:
num_to_word = ['one','two','three','four','five','six','seven','eight','nine','ten','eleven','twelve','thirteen']
def sample_from_file(annotator_name, sample_from, num_samples, sample_size = 100):
    with open('file_mapping.pkl', 'rb') as f:
        file_mappings = pickle.load(f)
    if annotator_name not in file_mappings:
        file_mappings[annotator_name] = {}
    if sample_from not in file_mappings[annotator_name]:
        file_mappings[annotator_name][sample_from] = []
    
    cnt = len(glob.glob(f"{annotator_name}/*"))
    df = pd.read_csv(sample_from, index_col = 'Unnamed: 0').sample(num_samples * sample_size, random_state = 0)
    df = df[df['cleaned_content'].str.count(' ').gt(4)]
    dfs = np.array_split(df, num_samples)
    for sample in dfs:
        filename = f"{annotator_name}_{num_to_word[cnt]}.csv"
        sample.to_csv(f"{annotator_name}/{filename}")
        cnt += 1
        file_mappings[annotator_name][sample_from].append(filename)
        
    with open('file_mapping.pkl', 'wb') as f:
        pickle.dump(file_mappings, f)

In [127]:
sample_from = "/Users/lachlanpham/Documents/App Folders/GitHub/capstone-Lachlan-Nhi/data/Manila/24400_tweets_over_period/0.8_to_0.9_english_words.csv"
df1 = pd.read_csv(sample_from, index_col = 'Unnamed: 0')
df1[df1['cleaned_content'].str.count(' ').gt(4)]

,id,date,rawContent,cleaned_content,english_relative_frequency
5,6,2022-01-01 23:56:12+00:00,Happy New Year from my family to yours. Letâ€™s ...,happy new year from my family to yours lets pu...,0.894737
18,19,2022-01-01 23:48:01+00:00,Went to Clark w my 2 younger cousins (both min...,went to clark w my 2 younger cousins both mino...,0.866667
24,25,2022-01-01 23:44:02+00:00,Just posted a photo @ East Rembo https://t.co/...,just posted a photo east rembo,0.833333
40,41,2022-01-01 23:36:20+00:00,Manifesting this 2022: a new career/job that I...,manifesting this 2022 a new careerjob that i l...,0.833333
10,111,2022-01-02 23:57:49+00:00,First day of work for 2022.\nWork from home. H...,first day of work for 2022 work from home hay ...,0.866667
...,...,...,...,...,...
59,24260,2022-08-31 23:53:35+00:00,Whenever I see boys and girls... ðŸŽ¶ðŸŽ¶ðŸŽ¶\n\nUyy na...,whenever i see boys and girls uyy napakanta he...,0.818182
68,24269,2022-08-31 23:52:09+00:00,Read A Song of Fire and Ice til book 5 at nak...,read a song of fire and ice til book 5 at naka...,0.812500
75,24276,2022-08-31 23:50:47+00:00,when #HG finally meet #JG Momo and Tottie #jem...,when finally meet momo and tottie si nlng kulang,0.888889
78,24279,2022-08-31 23:50:16+00:00,A fake news in a newsfeed makes stupidity exceed.,a fake news in a newsfeed makes stupidity exceed,0.888889
89,24290,2022-08-31 23:48:58+00:00,@coke_shiro atlis u have the courage diba. kee...,atlis u have the courage diba keep it up like ...,0.833333

In [128]:
sample_from_file("quim", sample_from, 3)

In [129]:
with open('file_mapping.pkl', 'rb') as f:
    mappings = pickle.load(f)
mappings

{'abbas': {'/Users/lachlanpham/Documents/App Folders/GitHub/capstone-Lachlan-Nhi/data/Accra/24400_tweets_over_period/0.7_to_0.8_english_words.csv': ['abbas_one.csv',
   'abbas_two.csv',
   'abbas_three.csv',
   'abbas_four.csv',
   'abbas_five.csv']},
 'manahil': {'/Users/lachlanpham/Documents/App Folders/GitHub/capstone-Lachlan-Nhi/data/Islamabad/24400_tweets_over_period/0.6_to_0.7_english_words.csv': ['manahil_one.csv',
   'manahil_two.csv'],
  '/Users/lachlanpham/Documents/App Folders/GitHub/capstone-Lachlan-Nhi/data/Islamabad/24400_tweets_over_period/0.9_to_1.0_english_words.csv': ['manahil_three.csv',
   'manahil_four.csv'],
  '/Users/lachlanpham/Documents/App Folders/GitHub/capstone-Lachlan-Nhi/data/Islamabad/24400_tweets_over_period/0.8_to_0.9_english_words.csv': ['manahil_five.csv',
   'manahil_six.csv',
   'manahil_seven.csv',
   'manahil_eight.csv']},
 'zain': {'/Users/lachlanpham/Documents/App Folders/GitHub/capstone-Lachlan-Nhi/data/Islamabad/24400_tweets_over_period/0.7_to_0.8_english_words.csv': ['zain_one.csv',
   'zain_two.csv'],
  '/Users/lachlanpham/Documents/App Folders/GitHub/capstone-Lachlan-Nhi/data/New Delhi/24400_tweets_over_period/0.7_to_0.8_english_words.csv': ['zain_three.csv',
   'zain_four.csv',
   'zain_five.csv',
   'zain_six.csv',
   'zain_seven.csv',
   'zain_eight.csv']},
 'quim': {'/Users/lachlanpham/Documents/App Folders/GitHub/capstone-Lachlan-Nhi/data/Manila/24400_tweets_over_period/0.7_to_0.8_english_words.csv': ['quim_one.csv',
   'quim_two.csv',
   'quim_three.csv',
   'quim_four.csv'],
  '/Users/lachlanpham/Documents/App Folders/GitHub/capstone-Lachlan-Nhi/data/Manila/24400_tweets_over_period/0.8_to_0.9_english_words.csv': ['quim_five.csv',
   'quim_six.csv',
   'quim_seven.csv']}}